body {
    background-color: azure;
}
.container {
    max-width: 1140px;
    margin:0 auto;
    padding: left 30px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}
h1 {
    color: dimgray;
    text-align: left;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;
}
.imgAvatar {
   width: 150px;
   height: 150px; 
   float: left;
}
.textAbout {
    width: 100%;

}
#imgName {
    display: inline;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 10px;
    line-height: 30px;
    font-size: medium; 
}
.nav-item a {
    color: rebeccapurple;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: grey;
}
